*{
	
	border: 0;
	padding: 0;
	margin: 0;
	font-family: 'helvetica';
	
}
.body{
	
	border: 0;
	padding: 0;
	margin: 0;
	
}
.sections{
	
		
	
}
img{
	
	height: 100%;
	
}
#frame{
	width: 99vh;
	
	background: linear-gradient(to bottom, #ff0f50, #fcac46);
	height: 100vh;
}
#top{
	
	border: none;
	

}

#menu{
	border: none;

	height: 10vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	align-items: center;
	grid-column-gap: 10vh;
}
.top-btns{
	
	border: 1px transparent ;	
	display:grid;
	justify-content:center;
	padding:0;
	font-size: 175%;
	
	color:white;
}

#menubtn{

	display:flex;
	grid-column-gap: 1.2vh;	
	justify-content:space-betweens;
	padding: 0;
	margin:0;
	width: 10vw;
	
}

.circle{
	border-radius: 50%;
	border: 1px solid white;
	background-color:white;
	height: 0.9vh;	
	width: 0.9vh;	
	padding:0;
	margin:0;	
}
#center{
	

	height: 60vh;
	
}
#image-holder{
	
	border-radius: 50%;
	border: 3px solid white;
	
	height: 20vh;
	width: 20vh;
	margin: auto;
	margin-bottom: 1rem;
	
	
	background-image: url(design/logo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:fit;
}
#logo{
	

	margin-left: 25%;
	margin-right: 25%;
	
	display:flex;
	justify-content:center;
}
#name{
	
	
	display:grid;
	justify-content:center;	
}
.name{
		
	color:white;
	font-size: 145%;
	text-align: center;
	margin-bottom: 2rem;
}
.description{
	color:white;
	font-size:134%;
	text-align: center;
	margin-bottom: 1rem;
}

#follow{
	
	border-radius: 30px;
	border: 2px solid white;
	width: 20vh;
	margin: auto;
	
	display: flex;
	justify-content: center;
	padding: 0.7rem;
	
	font-size: 170%;
	color: white;
	transition: 0.3s ease;
	
}
#follow:hover{
	
	font-size: 190%;
	background-color: #ff0f50;
	border: 4px solid;
}

#bottom{
	
	border: 1px solid transparent;
	width:99vw;

	
}
#bottom{
	border: 1px solid black;	
	height: 30vh;
	background-color: #222222;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items:center;
	justify-content: center;
	grid-column-gap:0;
	margin:0;
	padding:0;

}
.vids{
	
	background-color: grey;
	border: 1px solid black;
	height: 29vh;
	width: 20vh;
	margin:0;
	padding:0;
	overflow: hidden;
	display:flex;
	justify-content:center;
	grid-row-gap:0;
}

.content{
	
	
	
}
video{
	
	position:relative;
	display:relative;
	margin:auto;
	height:112%;
	padding:0;
	margin:0;
	
}

#video-player{
	
	border:1px solid green;
	background-color: grey;
	position: absolute;
	top:0;
	left:0;
	height: 99.5vh;
	max-width:500px;
	
	display:none;
}
.content-2{
	
	height:100%;
	
}

#video-options{
	
	width: 10%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	
	position: absolute;
	bottom:0;
	width: 99.5vw;
}
.options{
	

	
	
}
#info-options{

	display: grid;
	justify-content: left;
	align-items: bottom;
	
	
	position:relative;
}
#infos{
	
	margin-left: 1rem;
	display: grid;
	justify-content: left;
	align-items: right;
	padding: 1rem;
	display:grid;
	padding-bottom:0;
	padding:0;
	margin-top:50%;
	bottom:0;
}
#infos p{
	
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	color: white;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}
.featured{
	
	background-color: #ff0f50;
	border-radius:4px;
	padding:0.1rem;
	display: flex;
	justify-content: center;	
	align-items:center;
	color:white;
}
#bottom-menu{
	
	grid-column: 1/3;
	
}
#side-menu{

	display: grid;
	justify-content: center;	
	
}

#side-menu-list{
	
	display: grid;
	justify-content: center;
	grid-row-gap: 2rem;
}
#side-profile{
	border-radius: 50%;
	border: 1px solid grey;
	background-color: grey;
	height: 8vh;
	width: 8vh;
	
	background-image: url(icons/profile.jpeg);
	background-position: center;
}
.side-holder{
	
	display: grid;
	justify-content: center;	
	grid-row-gap:2rem;
}
.menu-image{
	
	height: 6vh;
	display: grid;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(000,000,000, 0.2);
	padding: 0.2rem;
	
}
#bottom-menu{
	
	display: grid;
	justify-content: center;	
	margin-top: 1rem;
	
}
.side-holder2{
	
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items:center;
	
}
.menu-circle{
	
	border: 1px solid grey;
	border-radius:50%;
	background-color: white;
	height:1vh;
	width: 1vh;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
	
}
#bottom-options{
	border-color: yellow;
	display:grid;
	justify-content: center;
	grid-column: 1/3;
	
}
#bottom-stuff{
	
	height: 8vh;
	width:80vw;
	display:grid;
	grid-template-columns: repeat(5, auto);
	justify-content: space-between;
	align-items:center
}
.menu-holder{
	
	width: 5vh;
	height: 5vh;
	
	
}
#add-div{
	border-radius: 5px;
	background: linear-gradient(to bottom, #ff0f50, #fcac46);	
	display:grid;
	justify-content:center;
	align-items:center;

}
#add{
	
	height:3vh;
	width:3vh;
	
}
